/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .nav {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 10px;
 }

 .nav button {
   flex-grow: 1;
   min-width: 100px;
   margin: 4px 2px;
   padding: 5px 15px;
   border: 1px solid white;
   border-radius: 10px;
   cursor: pointer;
 }